* { 
    margin: 0; 
    padding: 0; 
}
body {
    background-color: #161616;
}
hr {
    color: #fc0303;
}

.container {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
.box {
    width: 500px;
    height: 580px;
    background-color: #212020;
    margin-bottom: 20px;
    padding: 5px;
    font-family: "Lucida Console", "Courier New", monospace;
}
.box h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.box p {
    font-size: 20px;
    padding: 2px;
}